<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.errors) {%>
    <h1><%= title %></h1>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <div id="container-form">
      <form action="/add/video" method="POST">
        <label for="video_name">Video name:</label>
        <input type="text" name="video_name" />
        <label for="youtuber_channel">Youtuber Channel:</label>
        <input type="text" name="youtuber_channel" />
        <button type="submit">Add Video</button>
      </form>
      <button><a href="/">Main Page</a></button>
    </div>
  </body>
</html>
