<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (locals.errors) {%>
    <h1><%= title %></h1>
    <ul>
      <% errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <form action="/add/youtuber" method="POST">
      <label for="youtuber_name">Youtuber Name: </label>
      <input type="text" name="youtuber_name" />
      <label for="youtuber_channel">Youtuber Channel: </label>
      <input type="text" name="youtuber_channel" />
      <label for="topic_name">Topic Name: </label>
      <input type="text" name="topic_name" />
      <label for="channel_followers">Channel Followers: </label>
      <input type="number" name="channel_followers" />
      <button type="submit">Add Youtuber</button>
    </form>
    <button><a href="/">Main Page</a></button>
  </body>
</html>
